.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 20px;
    color: #000;
    position: absolute;
    top: 540px;
    right: 0;
    background-color: #f9f9f9;
    width: 100% !important;
    text-transform: capitalize;
    height: 1000px;
}

/* #firstCard {
    position: absolute;
    top: 600px;
    left: 30px;
    text-transform: capitalize;
} */

.CardOneimage {
    width: 100px;
}

#text2 {
    width: 200px;
    margin: 0 auto;
}
/* 
#secondCard {
    position: absolute;
    top: 590px;
    right: 550px;
    text-transform: capitalize;
} */

.CardTwoImage {
    width: 100px;
}
#text3 {
    width: 200px;
    margin: 0 auto;
}


.CardThreeImage {
    width: 100px;
}

#text4 {
    width: 200px;
    margin: 0 auto;
}

.CardFourImage {
    width: 400px;
    position: absolute;
    left: 80px;
    top: 900px;
    height: 290px;
    border-radius: 20px;
}

#txtOne {
    position: absolute;
    top: 880px;
    font-size: 20px;
    left: 680px;
}

#textTwo {
    position: absolute;
    top: 920px;
    left: 680px;
    width: 400px;
    text-align: left;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

#textThree {
    position: absolute;
    top: 980px;
    left: 680px;
    width: 400px;
    text-align: left;
}

#textFour {
    position: absolute;
    top: 67pc;
    width: 500px;
    text-align: left;
    left: 680px;
}

#btn {
    position: absolute;
    top: 74pc;
    left: 680px;
    background-color: purple;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: wheat;
    text-transform: capitalize;
    width: 150px;
}

@media screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: 100%;
    
    }

    .CardFourImage{
        width: 10px;
    }

    .design {
        display: none;
    }
}